<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.SellOrderBook.mapper.SellOrderBookMapper" >
  <resultMap id="BaseResultMap" type="com.demo.SellOrderBook.pojo.SellOrderBook" >
    <id column="sob_id" property="sobId" jdbcType="BIGINT" />
    <result column="stock_id" property="stockId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="ask_size" property="askSize" jdbcType="INTEGER" />
    <result column="ask_price" property="askPrice" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sob_id, stock_id, order_id, ask_size, ask_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.SellOrderBook.pojo.SellOrderBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sell_order_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_order_book
    where sob_id = #{sobId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sell_order_book
    where sob_id = #{sobId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.SellOrderBook.pojo.SellOrderBookExample" >
    delete from sell_order_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.SellOrderBook.pojo.SellOrderBook" >
    insert into sell_order_book (sob_id, stock_id, order_id, 
      ask_size, ask_price)
    values (#{sobId,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{askSize,jdbcType=INTEGER}, #{askPrice,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.SellOrderBook.pojo.SellOrderBook" >
    insert into sell_order_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sobId != null" >
        sob_id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="askSize != null" >
        ask_size,
      </if>
      <if test="askPrice != null" >
        ask_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sobId != null" >
        #{sobId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="askSize != null" >
        #{askSize,jdbcType=INTEGER},
      </if>
      <if test="askPrice != null" >
        #{askPrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.SellOrderBook.pojo.SellOrderBookExample" resultType="java.lang.Integer" >
    select count(*) from sell_order_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sell_order_book
    <set >
      <if test="record.sobId != null" >
        sob_id = #{record.sobId,jdbcType=BIGINT},
      </if>
      <if test="record.stockId != null" >
        stock_id = #{record.stockId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.askSize != null" >
        ask_size = #{record.askSize,jdbcType=INTEGER},
      </if>
      <if test="record.askPrice != null" >
        ask_price = #{record.askPrice,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sell_order_book
    set sob_id = #{record.sobId,jdbcType=BIGINT},
      stock_id = #{record.stockId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      ask_size = #{record.askSize,jdbcType=INTEGER},
      ask_price = #{record.askPrice,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.SellOrderBook.pojo.SellOrderBook" >
    update sell_order_book
    <set >
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="askSize != null" >
        ask_size = #{askSize,jdbcType=INTEGER},
      </if>
      <if test="askPrice != null" >
        ask_price = #{askPrice,jdbcType=REAL},
      </if>
    </set>
    where sob_id = #{sobId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.SellOrderBook.pojo.SellOrderBook" >
    update sell_order_book
    set stock_id = #{stockId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      ask_size = #{askSize,jdbcType=INTEGER},
      ask_price = #{askPrice,jdbcType=REAL}
    where sob_id = #{sobId,jdbcType=BIGINT}
  </update>

  <select id="selectMinCurrentPrice" resultMap="BaseResultMap">
    select * from sell_order_book where stock_id=#{stockId,jdbcType=BIGINT} order by ask_price asc limit 0,1
  </select>

  <update id="updateAskSize">
    update sell_order_book set ask_size=#{remainQty,jdbcType=INTEGER} where sob_id=#{sobId,jdbcType=BIGINT}
  </update>

  <delete id="deleteByOrderId" parameterType="java.lang.Long" >
    delete from sell_order_book
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>

  <update id="updateSellSizeByOrderId">
    update sell_order_book set ask_size=#{remainQty,jdbcType=INTEGER} where order_id=#{orderId,jdbcType=BIGINT}
  </update>

  <!-- wsy 8.13修改-->
  <select id="findMinPrice" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT *  FROM sell_order_book WHERE ask_price = (SELECT MIN(ask_price) FROM sell_order_book) AND stock_id =  #{stockId,jdbcType=BIGINT}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select  * from sell_order_book
  </select>
</mapper>