<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.price.mapper.PriceMapper" >
  <resultMap id="BaseResultMap" type="com.demo.price.pojo.Price" >
    <id column="price_id" property="priceId" jdbcType="BIGINT" />
    <result column="stock_id" property="stockId" jdbcType="BIGINT" />
    <result column="buy_current_price" property="buyCurrentPrice" jdbcType="REAL" />
    <result column="sell_current_price" property="sellCurrentPrice" jdbcType="REAL" />
    <result column="price_current_date" property="priceCurrentDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    price_id, stock_id, buy_current_price, sell_current_price, price_current_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.price.pojo.PriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from price
    where price_id = #{priceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from price
    where price_id = #{priceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.price.pojo.PriceExample" >
    delete from price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.price.pojo.Price" >
    insert into price (price_id, stock_id, buy_current_price, 
      sell_current_price, price_current_date)
    values (#{priceId,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, #{buyCurrentPrice,jdbcType=REAL}, 
      #{sellCurrentPrice,jdbcType=REAL}, #{priceCurrentDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.price.pojo.Price" >
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="priceId != null" >
        price_id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="buyCurrentPrice != null" >
        buy_current_price,
      </if>
      <if test="sellCurrentPrice != null" >
        sell_current_price,
      </if>
      <if test="priceCurrentDate != null" >
        price_current_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="priceId != null" >
        #{priceId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="buyCurrentPrice != null" >
        #{buyCurrentPrice,jdbcType=REAL},
      </if>
      <if test="sellCurrentPrice != null" >
        #{sellCurrentPrice,jdbcType=REAL},
      </if>
      <if test="priceCurrentDate != null" >
        #{priceCurrentDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.price.pojo.PriceExample" resultType="java.lang.Integer" >
    select count(*) from price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update price
    <set >
      <if test="record.priceId != null" >
        price_id = #{record.priceId,jdbcType=BIGINT},
      </if>
      <if test="record.stockId != null" >
        stock_id = #{record.stockId,jdbcType=BIGINT},
      </if>
      <if test="record.buyCurrentPrice != null" >
        buy_current_price = #{record.buyCurrentPrice,jdbcType=REAL},
      </if>
      <if test="record.sellCurrentPrice != null" >
        sell_current_price = #{record.sellCurrentPrice,jdbcType=REAL},
      </if>
      <if test="record.priceCurrentDate != null" >
        price_current_date = #{record.priceCurrentDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update price
    set price_id = #{record.priceId,jdbcType=BIGINT},
      stock_id = #{record.stockId,jdbcType=BIGINT},
      buy_current_price = #{record.buyCurrentPrice,jdbcType=REAL},
      sell_current_price = #{record.sellCurrentPrice,jdbcType=REAL},
      price_current_date = #{record.priceCurrentDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.price.pojo.Price" >
    update price
    <set >
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="buyCurrentPrice != null" >
        buy_current_price = #{buyCurrentPrice,jdbcType=REAL},
      </if>
      <if test="sellCurrentPrice != null" >
        sell_current_price = #{sellCurrentPrice,jdbcType=REAL},
      </if>
      <if test="priceCurrentDate != null" >
        price_current_date = #{priceCurrentDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where price_id = #{priceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.price.pojo.Price" >
    update price
    set stock_id = #{stockId,jdbcType=BIGINT},
      buy_current_price = #{buyCurrentPrice,jdbcType=REAL},
      sell_current_price = #{sellCurrentPrice,jdbcType=REAL},
      price_current_date = #{priceCurrentDate,jdbcType=TIMESTAMP}
    where price_id = #{priceId,jdbcType=BIGINT}
  </update>
</mapper>