<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.orders.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.demo.orders.pojo.Orders" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="stock_id" property="stockId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="remain_qty" property="remainQty" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="REAL" />
    <result column="limit_price" property="limitPrice" jdbcType="REAL" />
    <result column="trigger_price" property="triggerPrice" jdbcType="REAL" />
    <result column="stop_price" property="stopPrice" jdbcType="REAL" />
    <result column="full_or_kill" property="fullOrKill" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="gtd_date" property="gtdDate" jdbcType="TIMESTAMP" />
    <result column="minute" property="minute" jdbcType="INTEGER" />
    <result column="submit_date" property="submitDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="send_out_date" property="sendOutDate" jdbcType="TIMESTAMP" />
    <result column="final_date" property="finalDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, user_id, stock_id, type, price, qty, remain_qty, order_type, market_price, 
    limit_price, trigger_price, stop_price, full_or_kill, duration, gtd_date, minute, 
    submit_date, status, send_out_date, final_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.orders.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.orders.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.orders.pojo.Orders" >
    insert into orders (order_id, user_id, stock_id, 
      type, price, qty, remain_qty, 
      order_type, market_price, limit_price, 
      trigger_price, stop_price, full_or_kill, 
      duration, gtd_date, minute, 
      submit_date, status, send_out_date, 
      final_date)
    values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{qty,jdbcType=INTEGER}, #{remainQty,jdbcType=INTEGER}, 
      #{orderType,jdbcType=VARCHAR}, #{marketPrice,jdbcType=REAL}, #{limitPrice,jdbcType=REAL}, 
      #{triggerPrice,jdbcType=REAL}, #{stopPrice,jdbcType=REAL}, #{fullOrKill,jdbcType=INTEGER}, 
      #{duration,jdbcType=VARCHAR}, #{gtdDate,jdbcType=TIMESTAMP}, #{minute,jdbcType=INTEGER}, 
      #{submitDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{sendOutDate,jdbcType=TIMESTAMP}, 
      #{finalDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.orders.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="remainQty != null" >
        remain_qty,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="limitPrice != null" >
        limit_price,
      </if>
      <if test="triggerPrice != null" >
        trigger_price,
      </if>
      <if test="stopPrice != null" >
        stop_price,
      </if>
      <if test="fullOrKill != null" >
        full_or_kill,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="gtdDate != null" >
        gtd_date,
      </if>
      <if test="minute != null" >
        minute,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sendOutDate != null" >
        send_out_date,
      </if>
      <if test="finalDate != null" >
        final_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="remainQty != null" >
        #{remainQty,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=REAL},
      </if>
      <if test="limitPrice != null" >
        #{limitPrice,jdbcType=REAL},
      </if>
      <if test="triggerPrice != null" >
        #{triggerPrice,jdbcType=REAL},
      </if>
      <if test="stopPrice != null" >
        #{stopPrice,jdbcType=REAL},
      </if>
      <if test="fullOrKill != null" >
        #{fullOrKill,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="gtdDate != null" >
        #{gtdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="minute != null" >
        #{minute,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sendOutDate != null" >
        #{sendOutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finalDate != null" >
        #{finalDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.orders.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.stockId != null" >
        stock_id = #{record.stockId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.qty != null" >
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.remainQty != null" >
        remain_qty = #{record.remainQty,jdbcType=INTEGER},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.marketPrice != null" >
        market_price = #{record.marketPrice,jdbcType=REAL},
      </if>
      <if test="record.limitPrice != null" >
        limit_price = #{record.limitPrice,jdbcType=REAL},
      </if>
      <if test="record.triggerPrice != null" >
        trigger_price = #{record.triggerPrice,jdbcType=REAL},
      </if>
      <if test="record.stopPrice != null" >
        stop_price = #{record.stopPrice,jdbcType=REAL},
      </if>
      <if test="record.fullOrKill != null" >
        full_or_kill = #{record.fullOrKill,jdbcType=INTEGER},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=VARCHAR},
      </if>
      <if test="record.gtdDate != null" >
        gtd_date = #{record.gtdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.minute != null" >
        minute = #{record.minute,jdbcType=INTEGER},
      </if>
      <if test="record.submitDate != null" >
        submit_date = #{record.submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sendOutDate != null" >
        send_out_date = #{record.sendOutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finalDate != null" >
        final_date = #{record.finalDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set order_id = #{record.orderId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      stock_id = #{record.stockId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      qty = #{record.qty,jdbcType=INTEGER},
      remain_qty = #{record.remainQty,jdbcType=INTEGER},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      market_price = #{record.marketPrice,jdbcType=REAL},
      limit_price = #{record.limitPrice,jdbcType=REAL},
      trigger_price = #{record.triggerPrice,jdbcType=REAL},
      stop_price = #{record.stopPrice,jdbcType=REAL},
      full_or_kill = #{record.fullOrKill,jdbcType=INTEGER},
      duration = #{record.duration,jdbcType=VARCHAR},
      gtd_date = #{record.gtdDate,jdbcType=TIMESTAMP},
      minute = #{record.minute,jdbcType=INTEGER},
      submit_date = #{record.submitDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      send_out_date = #{record.sendOutDate,jdbcType=TIMESTAMP},
      final_date = #{record.finalDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.orders.pojo.Orders" >
    update orders
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="remainQty != null" >
        remain_qty = #{remainQty,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=REAL},
      </if>
      <if test="limitPrice != null" >
        limit_price = #{limitPrice,jdbcType=REAL},
      </if>
      <if test="triggerPrice != null" >
        trigger_price = #{triggerPrice,jdbcType=REAL},
      </if>
      <if test="stopPrice != null" >
        stop_price = #{stopPrice,jdbcType=REAL},
      </if>
      <if test="fullOrKill != null" >
        full_or_kill = #{fullOrKill,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="gtdDate != null" >
        gtd_date = #{gtdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="minute != null" >
        minute = #{minute,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        submit_date = #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sendOutDate != null" >
        send_out_date = #{sendOutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finalDate != null" >
        final_date = #{finalDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.orders.pojo.Orders" >
    update orders
    set user_id = #{userId,jdbcType=BIGINT},
      stock_id = #{stockId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      qty = #{qty,jdbcType=INTEGER},
      remain_qty = #{remainQty,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=REAL},
      limit_price = #{limitPrice,jdbcType=REAL},
      trigger_price = #{triggerPrice,jdbcType=REAL},
      stop_price = #{stopPrice,jdbcType=REAL},
      full_or_kill = #{fullOrKill,jdbcType=INTEGER},
      duration = #{duration,jdbcType=VARCHAR},
      gtd_date = #{gtdDate,jdbcType=TIMESTAMP},
      minute = #{minute,jdbcType=INTEGER},
      submit_date = #{submitDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      send_out_date = #{sendOutDate,jdbcType=TIMESTAMP},
      final_date = #{finalDate,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>